# New York City Taxi Fare Prediction - Challenge from Kaggle

## by Juliano Costa - Data Scientist student

### Linkedin: https://www.linkedin.com/in/julianocosta/

### Challenge Goal: Predict fare amount of taxi ride in New York City given the pickup and drofoff locations.

### Importing necessary libraries

In [ ]:
import pandas as pd ## data processing
import numpy as np  ## linear regression

### Part 1 - Information about train database

#### Database

In [6]:
# selecting 10000 records
nyc_data = pd.read_csv('train.csv', index_col=0, nrows=10000)

#### Information about columns

In [8]:
nyc_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 2009-06-15 17:26:21.0000001 to 2011-07-05 06:48:44.0000002
Data columns (total 7 columns):
fare_amount          10000 non-null float64
pickup_datetime      10000 non-null object
pickup_longitude     10000 non-null float64
pickup_latitude      10000 non-null float64
dropoff_longitude    10000 non-null float64
dropoff_latitude     10000 non-null float64
passenger_count      10000 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 625.0+ KB

#### This database has 7 columns

Fare_amout : Amount of dollars for the taxi ride. Data in US$

pickup_datetime: Timestamp of when the taxi ride began. Date in format YYYY-MM-DD HH:MM:SS UTC

pickup_longitude: The longitude coordinate of where the taxi ride began.

pickup_latitude: The latitude coordinate of where the taxi ride began.

dropoff_longitude: The longitude coordinate of where the taxi ride ended.

dropoff_latitude: The latitude coordinate of where the taxi ride ended.

passenger_count: The number of passengers in the taxi ride. Data in number

### List first 10 records

In [9]:
nyc_data.head(10)

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
key,,,,,,,
2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
2011-01-06 09:50:45.0000002,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1
2012-11-20 20:35:00.0000001,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1
2012-01-04 17:22:00.00000081,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1
2012-12-03 13:10:00.000000125,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1
2009-09-02 01:11:00.00000083,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2